.hero {
  height: 80vh;
  background-image: url("../../assets/social-hands.jpg");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}
.wrapper {
  height: 2px;
}

.container {
  background-color: gray;
}

.label {
  font-size: 0px;
  color: green;
}

.opp {
  background-image: url("../../assets/social-hands.jpg");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}

.banner {
  background-image: url("../../assets/hands.jpg");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}
